@import './variable.scss';
@import './common.scss';

.container {
    width: 600px;
    display: inline-block;

    &__target {
        @include flex-container;
        @include disable-select;
        flex-wrap: wrap;

        border-bottom: 1px solid $GRAY_3;
        padding: 2px 0;
        box-sizing: border-box;
        font-size: 14px;
        color: $GRAY_4;

        &__content {
            display: flex;
            position: relative;
            flex-grow: 1;

            &__input {
                border: none;
                outline: none;
                margin: 6px 0;
                min-width: 0;
                padding: 4px 0;
                flex-grow: 1;
                min-width: 150px;

                &:focus {
                    border: none;
                }
            }

            &__options {
                @include disable-select;
                position: absolute;
                z-index: $Z_INDEX_DROPDOWN;
                background-color: $SURFACE;
                border: 1px solid $GRAY_2;
                box-shadow: 0px 0px 2px 1px $GRAY_2;
                left: 0;
                top: 32px;
                border-radius: 4px;
                overflow-y: auto;
                width: 100%;
                max-width: 300px;
                max-height: 200px;
            }
        }

        &:focus-within {
            border-bottom: 2px solid $PRIMARY;
        }
    }
}