$Z_INDEX_DROPDOWN: 100;

$PRIMARY: #0085d7;
$ON_PRIMARY: #ffffff;

$SURFACE: #ffffff;
$ON_SURFACE: #1b1b1f;

$GRAY_6: #404040;
$GRAY_5: #565656;
$GRAY_4: #767676;
$GRAY_3: #a3a3a3;
$GRAY_2: #c7c7c7;
$GRAY_1: #e4e4e4;

$GRAY_OPACITY_3: #70707046;
$GRAY_OPACITY_2: #9d999946;
$GRAY_OPACITY_1: #cbc7c746;